* {
	box-sizing: border-box;
}

body {
	background-color: #FAFAFA;
	margin: 0;
}
$header-height: 20vh;
header {
	height: $header-height;
	width: 100%;
	background-color: #3F51B5;
	position: relative;
	h1 {
		color: white;
		margin: 0;
		position: absolute;
		bottom: 80px;
		left: 40px;
		font-weight: 100;
		font-size: 36px;
	}
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

main {
	display: flex !important;
	align-items: flex-start;
	.form-input {
		width: 25%;
		height: 100vh - $header-height;
		background-color: white;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		margin-right: 50px;
		form {
			ul {
				padding: 0;
				li {
					padding: 20px 40px;
					overflow: hidden;
					.float-left {
						float: left;
					}
					.float-right {
						float: right;
					}
				}
				.center {
					display: flex;
					justify-content: center;
					margin-top: 10px;
				}
			}
		}
	}
	.form-output {
		margin-top: -70px;
		width: 70%;
		.mdl-card {
			width: 100%;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			padding: 20px;
		}
		.material {
			div {
				width: 100%;
			}
		}
	}

}

.input-valid {
	visibility: visible;
	color: green;
}