$new-world-logo: url("assets/logo.png");
$yahei: "Microsoft YaHei",
STHeiti,
MingLiu,
sans-serif;
$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
0 3px 1px -2px rgba(0, 0, 0, 0.2),
0 1px 5px 0 rgba(0, 0, 0, 0.12);
$helvetica: "helvetica",
sans-serif;
$logo-size: 32px;
$heiti: "SimHei",
sans-serif;
$songti: "SimSun",
sans-serif;
@mixin vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(25%);
}

* {
    box-sizing: border-box;
    font-family: $yahei;
}

body {
    margin: 0;
    min-width: 980px;
}
$header-height: 60px;
header {
	$header-margin: 60px;
    $header-red: #e74f4d;
    z-index: 9999;
    background-color: white;
    position: fixed;
    box-shadow: $shadow;
    height: $header-height;
    width: 100%;
    display: flex;
    .logo {
        margin-left: $header-margin;
        a {
            
            background-image: $new-world-logo;
            background-size: 100% 100%;
            width: $logo-size;
            height: $logo-size;
            display: inline-block;
            @include vertical-align;
            margin-right: 5px;
        }
        span {
            line-height: $header-height;
            font-size: 20px;
            font-family: $heiti;
        }
    }
    .separator {
    	flex: 1;
    }
    nav {
    	$nav-text-color: #8e9197;
    	
    	a {
    		text-decoration: none;
    		color: $nav-text-color;
    		line-height: $header-height;
    		display: inline-block;
    		padding: 0 15px;
    		font-size: 15px;
    		height: $header-height;
    	}
    	.is-active {
    		color: $header-red;
    		border-bottom: 3px solid $header-red;
    	}
    }
    .log-in {
    	font-size: 15px;
    	color: $header-red;
    	margin-left: 20px;
    	i {
    		@include vertical-align;
    	}
		span {
			line-height: $header-height;
		}
		margin-right: $header-margin;
    }
}

@mixin vertical-center-div {
	display:flex;
	justify-content:center;
	flex-direction:column;
}

main {
	.welcome {
		position:relative;
		$img-height:800px;
		width: 100%;
		height: $img-height;
		background-image: url("assets/front-pic.jpg");
		background-size: cover;
		.img-cover {
			height: $img-height;
			width: 100%;
			position:absolute;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,.3);
		}
		display: flex;
		flex-direction: column;
		justify-content: center;
		.welcome-text {
			margin-left: 120px;
			color: white;
			z-index: 2;
			font-size: 90px;
			h1 {
				font-family: $helvetica;
				font-size: 1em;
				font-weight: 300;
				margin: 20px 0;
			}

			h2 {
				font-weight: 100;
				margin: 10px 0;
				font-size: .3em;
			}
			button {
				$height: 60px;
				width: 350px;
				height: $height;
				line-height: $height;
				font-size: 0.27em;
			}
		}
	}
	.button {
		/*
			Credit to Material Design Button
			getmdl.io
		*/
		border: none;
		display: inline-block;
		font-weight: 500;
		padding:0;
		cursor: pointer;
		color: white;
		background-color:#e74f4d;
		box-shadow: $shadow;
	}
	.characteristics {
		margin-top: 80px;
		margin-bottom: 80px;
		$main-color: #767777;
		display: flex;
		.box {
			width: 25%;
			text-align: center;
		}

		.box:last-child {
			h3 {
				border-right:0;
			}
		}
		h3 {
			color: $main-color;
			font-size: 20px;
			border-right: 2px solid $main-color;
			margin-top: 50px;
			padding: 0 80px;
			padding-bottom: 20px;
			height: 60px;
			font-weight: 100;
		}
		.icon {
			$icon-size:60px;
			display: block;
			margin: 0 auto;
			width: $icon-size;
			height: $icon-size;
		}
		#icon1 {
			background: url("assets/c1.jpg");
			background-size: 100% 100%;
		}
		#icon2 {
			background: url("assets/c2.jpg");
			background-size: 100% 100%;
		}
		#icon3 {
			background: url("assets/c3.jpg");
			background-size: 100% 100%;
		}
		#icon4 {
			background: url("assets/c4.jpg");
			background-size: 100% 100%;
		}
	}
	.banner {
		padding: 100px 0;
		background-color: #ededec;
		display: flex;
		justify-content: center;
		flex-direction: column;
		.logo {
			$logo-size-banner: 100px;
			background-image: $new-world-logo;
			background-size: 100% 100%;
			display: inline-block;
			width: $logo-size-banner;
			height: $logo-size-banner;
		}
		text-align: center;
		color: #a1a1a1;
		h1 {
			font-size: 60px;
			font-weight: 100;
			margin-bottom: 0;
		}
	}
	.activities {
		.search {
			$background-height: 450px;
			@include vertical-center-div;
			height: $background-height;
			width: 100%;
			position:relative;
			background-image: url("assets/banner.jpg");
			background-size: cover;
			.cover {
				position: absolute;
				height: $background-height;
				width: 100%;
				top:0;
				left: 0;
				background-color: #93493f;
				opacity: .3;
			}
			.wrapper {
				text-align: center;
				color: white;
				z-index: 2;
				position: relative;
				h1 {
					font-weight: 100;
					font-size:30px;
					margin: 0;
				}
				h2 {
					margin: 20px 0;
					font-weight: 100;
					font-size: 16px;
				}
				.separator-horizontal {
					display: inline-block;
					width: 40px;
					height: 2px;
					background-color: white;
				}
			}
		}
	}
}
